body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-header{
    
    display: inline;
}

a{
    text-decoration: none;
}
#Model-S{
    
}

#Model-3{}

#Model-X{}

#Model-Y{}

#Cybertruck{}

#PowerWall{}