@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    
    height: 650vh;
    
    font-family: Arial, Helvetica, sans-serif;
}

.teslalogo{
    margin-top: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}

.nav-header{
    position: fixed;
    background-color: inherit;
    

}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
    
    margin-left: 330px;
    height: 0%;
    
}

li{
    float: left;
    padding-left: 5px;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    
}
.model_s{   }
.model_3{}
.model_x{}
.model_y{}
.cybertruck{}
.powerwall{}



.nav-side{
    font-size: 20px;
    padding-top: 35px;
    margin-left: 300px;
    height: 0%;
}
.shop{}
.account{}
.menu{}



.model_s:hover{
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 3px;
    transition-timing-function: linear 1s;

}
.model_3:hover{
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 3px;
    transition-timing-function: linear 1s;

}
.model_x:hover{
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 3px;
}
.model_y:hover{
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 3px;
}
.cybertruck:hover{
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 3px;
}
.powerwall:hover{
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 3px;
}
.shop:hover{
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 3px;
}
.account:hover{
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 3px;
}
.menu:hover{
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 3px;
}









a{
    padding: 8px;
    color: black;
    text-decoration: none;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
}



img{
    display: inline-block;
}




.middle{
   padding-top: 200px;
   text-align: center;
   font-family: system-ui;
   font-weight: lighter;
}

h1>,h3>.middle{
    font-weight: 100;
}



#Model-S{
    background-image: url("images/model-s.jfif");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#Model-3{
    background-image: url("images/model-3.jfif");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#Model-X{
    background-image: url("images/model-x.jfif");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#Model-Y{
    background-image: url("images/model-y2.webp");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#Cybertruck{
    background-image: url("images/Accessories.jfif");
    height: 125vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#PowerWall{
    background-image: url("images/Solar&Powerwall.jfif");
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
}